.DS_Store
.nyc_output
coverage
dist
docker/cybernaut-chrome/cybernaut
docker/cybernaut-chrome/cybernaut-xvfb
docker/cybernaut-firefox/cybernaut
docker/cybernaut-firefox/cybernaut-xvfb
example/chrome/example.e2e.ts
example/firefox/example.e2e.ts
example/iphone/example.e2e.ts
example/chrome/tsconfig.json
example/firefox/tsconfig.json
example/iphone/tsconfig.json
node_modules
npm-debug.log*
screenshots
todo.tasks
